.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  width: 100%;
}

.single-product {
  margin-top: 80px;
}

.single-product .col-2 {
  padding: 20px;
}

.single-product .col-2 img {
  padding: 0px;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff513b;
}

input:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .single-product .row {
    text-align: left;
  }

  .single-product .col-2 {
    padding: 20px 0;
  }

  .single-product h2 {
    font-size: 26px;
    line-height: 22px;
  }
}
