@import "~react-image-gallery/styles/css/image-gallery.css";

.mx-10 {
  margin: 10px 0px;
}

.green {
  color: #008000;
}

.red {
  color: #ff0000;
}

.product-detail-row {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.product-detail-container {
  max-width: 1300px;
  width: 90%;
  margin: 80px auto;
  padding-left: 25px;
  padding-right: 25px;
}

.product-detail-left {
  width: 40%;
}

.product-detail-left img {
  width: 60%;
}

.product-detail-right {
  width: 50%;
}

.product-detail-right h2 {
  color: var(--themecolor);
  text-transform: capitalize;
  font-size: 1.5rem;
}

.product-detail-right p {
  color: var(--graycolor);
  font-size: 0.9rem;
}

.no-of-reviews {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.no-of-reviews p {
  padding-left: 2px;
  font-size: 0.8rem;
}

.product-detail-price-cart {
  display: flex;
  flex-direction: column;
}

.product-detail-price-cart p {
  color: #ff0000;
  font-size: 1.2rem;
  font-weight: 600;
}

.inc-dec button {
  cursor: pointer;
  width: 6%;
  background: var(--themecolor);
  color: white;
  border: none;
  padding: 5px;
}

.inc-dec input {
  margin: 0 8px !important;
  padding: 5px;
  border: none;
  width: 10%;
  outline: none;
  background: var(--themecolor);
  margin: 20px 0px;
  color: var(--whitecolor);
  text-align: center;
}

.add-to-cart-btn {
  width: 25%;
}

.leave-comment-btn {
  width: 15%;
}

.leave-comment {
  display: flex;
  flex-direction: column;
}

.leave-comment textarea {
  padding: 11px 20px;
  border: none;
  border-radius: 2px;
  width: 50%;
  outline: none;
  background: #f1f3f4;
}

.leave-comment textarea::placeholder {
  color: var(--graycolor);

  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 50vh;
}

@media screen and (max-width: 778px) {
  .product-detail-left {
    width: 100%;
    margin-bottom: 30px;
  }
  .product-detail-right {
    width: 100%;
  }
  .review-card {
    width: 100%;
    height: 300px;
    margin: 15px 0px;
  }

  .leave-comment textarea {
    width: 100%;
  }

  .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: 35vh;
  }
}
