.product-detail-row {
  display: flex;
}

.product-detail-container {
  max-width: 1300px;
  width: 90%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.product-detail-left {
  flex-basis: 50%;
}

.product-detail-left img {
  width: 60%;
}

.product-detail-right {
  flex-basis: 50%;
}

.product-add-to-cart {
  display: flex;
}

.product-add-to-cart button {
  padding: 4px;
  background: #000;
  color: #fff;
}

.add-to-cart {
  width: 125px;
  height: 39px;
  background: #ff7f50;
  color: white;
  border: 1px solid #ff7f50;
  padding: 10px;
  border-radius: 20px;
}

.review-card {
  flex-direction: column;
  display: flex;
  width: 30%;
  align-items: center;
  height: 178px;
  justify-content: center;
  box-shadow: 5px 5px 5px gainsboro;
}

.reviews-row {
  display: flex;
  justify-content: space-between;
}

.mx-10 {
  margin: 10px 0;
}

.review-card img {
  width: 25%;
  border-radius: 50%;
}
