.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background-color: yellow;
}

.table thead tr th {
  font-size: 1rem;
  letter-spacing: 0.35px;
  font-weight: 600;
  padding: 12px;
  vertical-align: top;
}

.table tbody tr td {
  font-size: 0.95rem;
  letter-spacing: 0.35px;
  font-weight: normal;
}

.table tbody tr td input::placeholder {
  color: #607d8b;
  font-weight: 600;
}
.table tbody tr td input[type="text"] {
  width: 100%;
  height: 32px;
  padding: 12px 10px;
  border-radius: 10px;
  border: 1px solid #607d8b;
}

.table tbody tr td input[type="number"] {
  width: 100%;
  height: 32px;
  padding: 12px 10px;
  border-radius: 10px;
  border: 1px solid #607d8b;
}

.table tbody tr td input[type="file"] {
  display: none;
}

.table tbody tr td button {
  border-radius: 10px;
  background: none;
  border: 1px solid var(--themecolor);
}

.no-record {
  color: #ff0000;
  font-weight: 600;
}

@media screen and (max-width: 1100px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 15px;
  }

  .table tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
  }
}
