header {
  font-size: 14px;
  background: var(--whitecolor);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 10 5px 15px rgba(219, 21, 21, 0);
}

.header-container {
  height: 13vh;
  display: flex;
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}

.nav li {
  margin-right: 12px;
  position: relative;
}

.nav a {
  font-size: 1.1rem;
}

.nav li::after {
  content: "";
  position: absolute;
  background-color: var(--themecolor);
  height: 3px;
  width: 0px;
  left: 0;
  bottom: 0px;
  transition: width 0.5s ease-in-out;
}

.nav li:hover::after {
  width: 20px;
}

.nav a:hover {
  color: var(--themecolor);
}

.nav a.active.myactive {
  color: var(--themecolor);

}

.logo h1 {
  font-size: 2rem;
  letter-spacing: 2px;
}

.cart-icon {
  position: relative;
}

.cart-no {
  position: absolute;
  bottom: 8px;
  font-size: 0.8rem;
  font-weight: 500;
}
