.profile-wrapper {
  justify-content: space-between;
  align-items: center;
}

.profile-left {
  flex-basis: 31%;
}

.profile-middle {
  flex-basis: 31%;
}

.profile-right {
  flex-basis: 31%;
}

.profile-btns-container button {
  display: block;
}

.profile-left-image img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

.profile-panel-sidebar {
  display: flex;
  flex-direction: column;
}

.profile-panel-sidebar li {
  margin: 10px 0px;
}

@media screen and (max-width: 448px) {
  .profile-panel-sidebar li {
    margin-left: 6px;
  }
}

@media screen and (max-width: 610px) {
  .profile-wrapper {
    flex-direction: column;
  }
}
