.profile-wrapper {
  justify-content: space-between;
  align-items: center;
}

.profile-left {
  flex-basis: 31%;
}

.profile-middle {
  flex-basis: 31%;
}

.profile-right {
  flex-basis: 31%;
}

.profile-btns-container {
  width:50%;
  display: flex;
  flex-direction: column;
  height: 160px;
  justify-content: space-between;
}

.profile-left-image img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-info li {
  margin: 10px 0px;
}

.modal-btns {
  width: 50%;
  background: var(--themecolor);
  color: white;
  border: 1px solid var(--themecolor);
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 448px) {
  .profile-panel-sidebar li {
    margin-left: 6px;
  }
}

@media screen and (max-width: 802px) {
  .profile-wrapper {
    flex-direction: column;
  }
  .profile-left-image img {
    width: 100%;
    margin: auto;
  }
  .modal-btns {
    width: 100%;
  }
}

@media screen and (max-width: 998px) {
  .profile-left-image img {
    width: 60%;
  }
}

@media screen and (max-width: 860px) {
  .profile-left-image img {
    width: 75%;
  }
}
