.profile-left {
  flex-basis: 50%;
}

.profile-right {
  flex-basis: 50%;
}

/* .admin-right-screen {
    display: flex;
    justify-items: center;
  } */

.profile-panel-sidebar {
  display: flex;
  flex-direction: column;
}

.profile-panel-sidebar button {
  font-size: 1.2rem;
  border: none;
  background: none;
  width: 30%;
  height: auto;
  text-align: left;
  padding: 10px 0px;
}

@media screen and (max-width: 448px) {
  .profile-panel-sidebar {
    flex-direction: row;
  }

  .profile-panel-sidebar li {
    margin-left: 6px;
  }
  .profile-panel-sidebar button {
    font-size: 14px;
  }
}
