.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
  color: var(--themecolor) !important;
  font-family: "Poppins", sans-serif !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: var(--themecolor) !important;
  font-family: "Poppins", sans-serif !important;
}

.css-1a1fmpi-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid var(--themecolor) !important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  color: var(--graycolor) !important;
  font-family: "Poppins", sans-serif !important;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  color: var(--graycolor) !important;
  font-family: "Poppins", sans-serif !important;
}

.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  font-family: "Poppins", sans-serif !important;
}
