.row {
  display: flex;
}

.left {
  flex-basis: 20%;
}

.right {
  flex-basis: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-card {
  width: 30%;
  border-radius: 15px;
  margin: 20px 0px;
  transition: all 0.5s;
}

.product-card:hover {
  box-shadow: 0px 0px 3px var(--graycolor);
}

.product-card-img img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  height: 320px;
  /* object-fit: cover; */
  /* object-position: center; */
}

.product-card-content {
  margin: 2px 6px;
  text-transform: capitalize;
  /* text-align: center; */
}

.product-card-content h1 {
  color: #108ee9;
}

.product-card-price {
  font-size: 1rem;
  color: var(--themecolor);
  font-weight: 700;
}

.product-search {
  padding: 10px;
  border: 1px solid rgba(21, 21, 21, 0.5);
  border-radius: 8px;
  width: 80%;
  outline: none;
  background: var(--graycolor);
  margin: 20px 0px;
  color: var(--whitecolor);
}

.product-search::placeholder {
  color: var(--whitecolor);

  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-section h5 {
  font-size: 22px;
  text-decoration: underline;
  color: var(--graycolor);
}

.filter-section ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.filter-section ul li {
  position: relative;
  padding: 4px 0px;
  cursor: pointer;
}

.filter-section ul li::after {
  content: "";
  position: absolute;
  background-color: var(--themecolor);
  height: 3px;
  width: 0px;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}

.filter-section ul li:hover::after {
  width: 20%;
}

.filter-section ul li:hover {
  color: var(--themecolor);
}

.no-of-reviews {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.no-of-reviews p {
  padding-left: 2px;
  font-size: 0.7rem;
}

.page-btn {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.page-btn button {
  display: inline-block;
  border: 1px solid var(--graycolor);
  margin-left: 10px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 0.8rem;
  background: var(--graycolor);
  color: var(--whitecolor);

  font-weight: 500;
}

.page-btn button:hover {
  box-shadow: 0px 0px 3px #808080;
}

@media screen and (max-width: 778px) {
  .row {
    flex-wrap: wrap;
  }

  .left {
    flex-basis: 100%;
  }

  .product-search {
    margin: 10px 10%;
  }

  .right {
    flex-basis: 100%;
  }

  .filter-section ul {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 448px) {
  .product-card {
    width: 100%;
  }
}

@media screen and (max-width: 998px) {
  .product-card {
    width: 45%;
  }
}

@media screen and (max-width: 596px) {
  .product-card {
    width: 45%;
  }
}
