.row {
  display: flex;
}

.left {
  flex-basis: 20%;
}

.right {
  flex-basis: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-card {
  width: 30%;
  border-radius: 15px;
  margin: 20px 0px;
  transition: all 0.5s;
}

.product-card:hover {
  box-shadow: 0px 0px 3px #808080;
}

.product-card-img img {
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  object-position: center;
}

.product-card-content {
  margin: 2px 6px;
  text-transform: capitalize;
  /* text-align: center; */
}

.product-card-content h1 {
  color: #108ee9;
}

.product-card-price {
  color: #ff7f50;
}
.product-search {
  padding: 11px 20px;
  border: none;
  border-radius: 2px;
  width: 40%;
  outline: none;
  background: #f1f3f4;
}

.product-top {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.filter-section {
  margin: 20px 0px;
}

.filter-section h5 {
  font-size: 22px;
  text-decoration: underline;
  color: #ff7f50;
}

.filter-section ul {
  padding: 0px;
}

.filter-section ul li {
  padding: 4px 0px;
  cursor: pointer;
}

.filter-section ul li:hover {
  color: #ff7f50;
}

.page-btn {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.page-btn button {
  display: inline-block;
  border: 1px solid #ff7f50;
  margin-left: 10px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 12px;
}

.page-btn button:hover {
  box-shadow: 0px 0px 3px #808080;
}

@media screen and (max-width: 778px) {
  .row {
    flex-wrap: wrap;
  }

  .left {
    flex-basis: 100%;
  }

  .filter-section {
    margin: 10px 38%;
  }

  .right {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 448px) {
  .product-card {
    width: 100%;
  }
}
