.row {
  display: flex;
}

.space {
  justify-content: space-between;
}

.left {
  width: 23%;
}

.right {
  width: 73%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-search {
  padding: 10px;
  border: 1px solid rgba(21, 21, 21, 0.5);
  border-radius: 5px;
  width: 80%;
  outline: none;
  background: var(--whitecolor);
  margin: 20px 0px;
  color: var(--graycolor);
}

.price-filters {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
}

.product-search::placeholder {
  color: var(--graycolor);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-section h5 {
  font-size: 22px;
  text-decoration: underline;
  color: var(--graycolor);
}

.filter-section ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.filter-section ul li {
  position: relative;
  padding: 4px 0px;
  cursor: pointer;
}

.filter-section ul li::after {
  content: "";
  position: absolute;
  background-color: var(--themecolor);
  height: 3px;
  width: 0px;
  left: 0;
  bottom: 0px;
  transition: width 0.5s ease-in-out;
}

.filter-section ul li:hover::after {
  width: 10%;
}

.filter-section ul li:hover {
  color: var(--themecolor);
}

.no-of-reviews {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.no-of-reviews p {
  padding-left: 2px;
  font-size: 0.7rem;
}

.page-btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-numbers {
  list-style: none;
  display: flex;
}

.page-numbers li {
  text-align: center;
  line-height: 40px;
  border: 1px solid #f1f1f1;
  background: #f1f1f1;
  color: var(--whitecolor);
  font-weight: 500;
  padding: 2px 10px;
  cursor: pointer;
  font-size: 1rem;
  color: #000;
}

.page-numbers li:hover {
  box-shadow: 0px 0px 3px #808080;
}

.page-numbers li.active {
  background-color: var(--themecolor);
  color: #fff;
}

.page-numbers li button {
  border: none;
  color: #000;
  cursor: pointer;
  background-color: transparent;
}

/* .page-numbers li button:hover {
  box-shadow: 0px 0px 3px #808080;
} */

.page-numbers li button:focus {
  outline: none;
}

/* .no-product-found {
  width: 80%;
  margin: auto;
} */

@media screen and (max-width: 778px) {
  .row {
    flex-wrap: wrap;
  }

  .left {
    width: 100%;
  }

  .product-search {
    margin: 10px 10%;
  }

  .right {
    width: 100%;
  }

  .filter-section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .filter-section {
    align-items: center;
  }
}
