.footer-container {
  max-width: 1300px;
  margin: 50px auto;
  padding-left: 25px;
  padding-right: 25px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer h3 {
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
  text-align: center;
}

.footer-col-2 {
  flex-basis: 30%;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}

.app-logo img {
  width: 130px;
  padding-left: 5px;
}

hr {
  height: 2px;
  margin: 20px 0px;
  background: #b5b5b5;
}

.copyright {
  text-align: center;
  text-transform: capitalize;
}

@media screen and (max-width: 700px) {
  .footer-col-1 {
    flex-basis: 100%;
  }

  .footer-col-2 {
    flex: 100%;
  }

  .footer-col-3 {
    flex-basis: 100%;
  }
}
