.about-bg {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("../../images/cartbanner.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-bg h1 {
  font-size: 2.5rem;
}

.about-left-col {
  width: 70%;
  padding: 30px 2px;
}

/* .about-img {
  width: 25%;
} */

.about-img img {
  width: 100%;
}

.about-left-col h1 {
  font-size: 2rem;
}

.about-left-col p {
  font-size: 1.2rem;
}

.about-left-col {
  padding-top: 15px 25px;
}
