.home-product-card {
  min-height: 400px;
  max-height: 400px;
  width: 20%;
  margin: 20px auto;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 0.7px 0px var(--graycolor);
  min-height: 36vh;
}

.home-product-card:hover {
  box-shadow: 0px 0px 2.5px var(--graycolor);
  transform: translateY(-1rem);
}

.home-product-card-img {
  margin: auto;
  width: 95%;
  max-height: 260px;
  overflow-y: hidden;
}

.home-product-card-img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.home-product-card-content {
  margin: 2px 6px;
  text-transform: capitalize;
  /* text-align: center; */
}

.home-product-card-content h3 {
  color: #108ee9;
}

.home-product-card-price {
  font-size: 1rem;
  color: var(--themecolor);
  font-weight: 700;
}

@media screen and (max-width: 998px) {
  .home-product-card {
    width: 45%;
  }
}

@media screen and (max-width: 596px) {
  .home-product-card {
    width: 45%;
  }
}

@media screen and (max-width: 498px) {
  .home-product-card {
    width: 80%;
  }
}
