.product-card {
  width: 30%;
  margin: 20px 0px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 0.7px 0px var(--graycolor);
}

.product-card:hover {
  box-shadow: 0px 0px 2.5px var(--graycolor);
  transform: translateY(-1rem);
}

.product-card-img img {
  width: 100%;
  height: 320px;
  /* object-fit: cover; */
  /* object-position: center; */
}

.product-card-content {
  margin: 2px 6px;
  text-transform: capitalize;
  /* text-align: center; */
}

.product-card-content h1 {
  color: #108ee9;
}

.product-card-price {
  font-size: 1rem;
  color: var(--themecolor);
  font-weight: 700;
}

@media screen and (max-width: 448px) {
  .product-card {
    width: 100%;
  }
}

@media screen and (max-width: 998px) {
  .product-card {
    width: 45%;
  }
}

@media screen and (max-width: 596px) {
  .product-card {
    width: 45%;
  }
}
