* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1300px;
  width: 90%;
  margin: 50px auto;
  padding-left: 25px;
  padding-right: 25px;
}

a {
  text-decoration: none;
  color: #000;
}

.page-title {
  text-align: center;
  text-decoration: underline;
  padding: 20px;
  font-size: 2rem;
  text-transform: capitalize;
  color: #ff7f50;
  font-weight: 600;
}

.btn {
  border: 1px solid #ff7f50;
  border-radius: 20px;
  height: 40px;
  width: 24%;
  background: #ff7f50;
  font-weight: 600;
  color: #fff;
}
