*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  cursor: url("./images/cursor.png"), auto;
  /* Variables*/
  --whitecolor: #ffffff;
  --graycolor: #607d8b;
  --themecolor: #ff7f50;
}

.container {
  max-width: 1300px;
  width: 90%;
  margin: 50px auto;
  padding-left: 25px;
  padding-right: 25px;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
  text-align: center;
  font-weight: 600;
}

.page-title {
  letter-spacing: 1px;
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  text-transform: capitalize;
  color: #607d8b;
  font-weight: 500;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 30%;
  margin: auto;
  text-shadow: 2px 2px #f1f3f4;
}

.page-title-small {
  text-align: center;
  padding: 20px;
  font-size: 1.4rem;
  text-transform: capitalize;
  color: #607d8b;
  font-weight: 600;
  text-shadow: 2px 2px #f1f3f4;
}

.btn {
  border: 1px solid #ff7f50;
  border-radius: 20px;
  height: 40px;
  width: 24%;
  background: #ff7f50;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.my-20 {
  margin-top: 20px;
}

.mr-8 {
  margin-right: 8px;
}

@media screen and (max-width: 770px) {
  .page-title {
    width: 50%;
  }
}
