.not-found-content {
  width: 100%;
  text-align: center;
  color: var(--graycolor);
}

.not-found-content h2 {
  font-size: 2.5rem;
}

.not-found-content h1 {
  font-size: 12.5rem;
  margin: 0;
  font-weight: 900;
  letter-spacing: 20px;
  background: var(--themecolor);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.not-found-content p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--graycolor);
}

.not-found-btn {
  width: 20%;
  margin: auto;
}

.not-found-btn a {
  color: var(--whitecolor);
}

@media screen and (max-width: 600px) {
  .not-found-content h1 {
    font-size: 5.5rem;
  }
}
