.call-action {
  background: url("../../images/cartbanner.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.call-action h1 {
  color: #fff;
  font-size: 2rem;
  padding: 10px 0;
}

.call-action h3 {
  color: #fff;
  font-size: 1.5rem;
}

.call-action h3 span {
  color: #ff0000;
  font-size: 1.5rem;
}
