.newsletter {
  background: url("../../images/b2.jpg");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
  padding: 40px 0px;
}

.newsletter-container {
  max-width: 1300px;
  width: 90%;
  margin: 50px auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.newsletter-container h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.newsletter-container p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

.newsletter-container p span {
  color: #ffbd27;
}

.newsletter-form {
  display: flex;
  width: 40%;
}

.newsletter-container input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.newsletter-container button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
