.cart-container {
  max-width: 1300px;
  width: 90%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px;
  color: var(--whitecolor);
  background: var(--themecolor);
  font-weight: normal;
}

td {
  width: 20%;
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: var(--themecolor);
  font-size: 12px;
}

td img {
  margin-right: 10px;
}

td select {
  border: none;
  background: var(--themecolor);
  padding: 5px;
  color: var(--whitecolor);
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid var(--themecolor);
  width: 100%;
  max-width: 400px;
}

.cart-img img {
  width: 35%;
  object-fit: cover;
  object-position: center;
}

.empty-cart a {
  color: blue;
}
@media screen and (max-width: 1000px) {
  .cart-img img {
    width: 12%;
  }
}

@media screen and (max-width: 778px) {
  .cart-img img {
    width: 16%;
  }
}

@media screen and (max-width: 550px) {
  .cart-img img {
    width: 30%;
  }
}

@media screen and (max-width: 400px) {
  .cart-img img {
    width: 80%;
  }
}
