.cart-container {
  max-width: 1300px;
  width: 90%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

.cart-info img {
  width: 10%;
  object-fit: cover;
  object-position: center;
  height: auto;
}

th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff7f50;
  font-weight: normal;
}

td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: #ff7f50;
  font-size: 12px;
}

td img {
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #ff7f50;
  width: 100%;
  max-width: 400px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

@media screen and (max-width: 1000px) {
  .cart-info img {
    width: 12%;
  }
}

@media screen and (max-width: 778px) {
  .cart-info img {
    width: 16%;
  }
}

@media screen and (max-width: 550px) {
  .cart-info img {
    width: 30%;
  }
}

@media screen and (max-width: 400px) {
  .cart-info img {
    width: 80%;
  }
}
