.admin-left {
  flex-basis: 15%;
}

.admin-right {
  flex-basis: 85%;
}

/* .admin-right-screen {
  display: flex;
  justify-items: center;
} */

.admin-panel-sidebar {
  display: flex;
  flex-direction: column;
}

.admin-panel-sidebar button {
  position: relative;
  font-size: 1.2rem;
  border: none;
  background: none;
  width: 100%;
  height: auto;
  text-align: left;
  padding: 10px 0px;
  font-weight: 500;
}

.admin-panel-sidebar button::after {
  content: "";
  position: absolute;
  background-color: #ff7f50;
  height: 3px;
  width: 0px;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}

.admin-panel-sidebar button:hover::after {
  width: 70%;
}

.admin-panel-sidebar button:hover {
  color: #ff7f50;
}

@media screen and (max-width: 448px) {
  .admin-panel-sidebar {
    flex-direction: row;
  }

  .admin-panel-sidebar li {
    margin-left: 6px;
  }
  .admin-panel-sidebar button {
    font-size: 14px;
  }
}

@media screen and (max-width: 778px) {
  .admin-panel-sidebar {
    justify-content: space-between;
    flex-direction: row;
  }

  .admin-left {
    flex-basis: 100%;
  }

  .admin-right {
    flex-basis: 90%;
  }

  .admin-panel-sidebar button:hover::after {
    width: 100%;
  }
}
