.admin-left {
  flex-basis: 30%;
}

.admin-right {
  flex-basis: 70%;
}

/* .admin-right-screen {
  display: flex;
  justify-items: center;
} */

.admin-panel-sidebar {
  display: flex;
  flex-direction: column;
}

.admin-panel-sidebar button {
  font-size: 1.2rem;
  border: none;
  background: none;
  width: 30%;
  height: auto;
  text-align: left;
  padding: 10px 0px;
}

@media screen and (max-width: 448px) {
  .admin-panel-sidebar {
    flex-direction: row;
  }

  .admin-panel-sidebar li {
    margin-left: 6px;
  }
  .admin-panel-sidebar button {
    font-size: 14px;
  }
}
