.admin-left {
  width: 15%;
}

.admin-right {
  width: 85%;
}

/* .admin-right-screen {
  display: flex;
  justify-items: center;
} */

.admin-panel-sidebar {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 150px;
  justify-content: space-between;
}

.admin-panel-sidebar button {
  position: relative;
  font-size: 1.2rem;
  border: none;
  background: none;
  width: 100%;
  height: auto;
  text-align: left;
  font-weight: 500;
}

.admin-panel-sidebar button::after {
  content: "";
  position: absolute;
  background-color: var(--themecolor);
  height: 3px;
  width: 0px;
  left: 0;
  bottom: -5px;
  transition: width 0.5s ease-in-out;
}

.admin-panel-sidebar button:hover::after {
  width: 20%;
}

.admin-panel-sidebar button:hover {
  color: var(--themecolor);
}

@media screen and (max-width: 448px) {
  .admin-panel-sidebar {
    flex-direction: row;
  }

  .admin-panel-sidebar li {
    margin-left: 6px;
  }
  .admin-panel-sidebar button {
    font-size: 14px;
  }
}

@media screen and (max-width: 778px) {
  .admin-panel-sidebar {
    justify-content: space-between;
    flex-direction: row;
  }

  .admin-left {
    width: 100%;
  }

  .admin-right {
    width: 90%;
  }

  .admin-panel-sidebar button:hover::after {
    width: 100%;
  }
}
